In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('2_taxi_nyc.csv', 
                 encoding='windows-1251')

In [149]:
df.head(7)

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
5,2015-01-01 01:00:00,Jan,Staten Island,6,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
6,2015-01-01 01:00:00,Jan,NaN,4,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0

In [20]:
df.columns

Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb',
       'temp', 'dewp', 'slp', 'pcp 01', 'pcp 06', 'pcp 24', 'sd'],
      dtype='object')

In [23]:
df.shape

(29101, 14)

In [24]:
df.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [33]:
df =df.rename(columns={'pcp 01':'pcp_01'})
df =df.rename(columns={'pcp 06':'pcp_06'})
df =df.rename(columns={'pcp 24':'pcp_24'})

In [34]:
df

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [35]:
df.query("borough == 'Manhattan'").shape[0]

4343

In [41]:
df['borough'].value_counts()

Staten Island    4343
Queens           4343
Manhattan        4343
Bronx            4343
Brooklyn         4343
EWR              4343
Name: borough, dtype: int64

In [47]:
df.shape

(29101, 14)

In [50]:
df.pickups.sum()

14265773

In [52]:
new = {}
for c in df['borough']:
    if c in new:
        new[c] = df.c.sum()
    else:
        new[c] = 0

AttributeError: 'DataFrame' object has no attribute 'c'

In [119]:
def temp_to_celcius(f):
    return ((f-32)*5)/9

In [131]:
pickups_by_mon_bor = df \
                        .query('temp > 0') \
                        .groupby(['borough', 'pickup_month', 'temp'], as_index=False) \
                        .aggregate({'pickups':'sum'}) \
                        .sort_values('pickups', ascending=False)

In [148]:
pickups_by_mon_bor

            borough pickup_month       temp  pickups
1505      Manhattan          May  21.666667   113818
1361      Manhattan          Jun  20.555556   105771
1205      Manhattan          Apr  16.111111    95321
1265      Manhattan          Jan   2.777778    92463
1432      Manhattan          Mar   7.222222    90624
...             ...          ...        ...      ...
840             EWR          Apr  24.444444        0
2028  Staten Island          Jan   2.444444        0
839             EWR          Apr  23.888889        0
838             EWR          Apr  23.333333        0
1064            EWR          Mar  11.388889        0

[2298 rows x 4 columns]

In [111]:
def temp_to_celcius(f):
    return ((f-32)*5)/9

In [112]:
df.temp

0        30.0
1        30.0
2        30.0
3        30.0
4        30.0
         ...
29096    75.0
29097    75.0
29098    75.0
29099    75.0
29100    75.0
Name: temp, Length: 29101, dtype: float64

In [115]:
df.temp = temp_to_celcius(df.temp)

In [116]:
df.temp

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64

In [145]:
today = datetime.datetime.today().strftime('%d-%m-%y')
filename = f"borough_{today}"

In [146]:
filename

'borough_20-09-20'